ansible_collections/
ansible_roles/
ansible_lib/

/keys/
/ansible/inventory

# omit dhcpd file because of mac addresses. It is included in private repo.
/ansible/files/etc/dhcp/dhcpd.conf


/ansible/private-*

/venv/
