[Unit]
Description=qbittorrent
After=network.target network-online.target local-fs.target remote-fs.target pupa.mount
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/qbittorrent-nox --webui-port=9999 --daemon

[Install]
WantedBy=multi-user.target
